/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#name-box {
	align-self: center;
}

#project-head {
	font-family: 'Courgette', serif;
	font-weight: bold;
	color: #bcbbbb;
}

.title-row-margin {
	margin-top: 20px;
}

.title-logo {
	height: 150px;
	vertical-align: middle;
}

.title-name {
	font-family: 'Arima Madurai',serif;
	color: #747704;
}

.title-name-tag {
	font-family: 'Open Sans',Sans-serif;
	color: #747704;
}

hr {
    border-top: 4px solid #D0C4AB;
}

.feature-image {
	width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 0.3s;
}

.feature-image:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.project-card {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 6px;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 0.3s;
	margin-bottom: 20px;
}

.project-card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.project-title {
	font-family: 'Ubuntu',serif;
	color: #747704;
}

.project-subtitle {
	font-family: 'Ubuntu',Sans-serif;
	font-style: italic;
}

.modal-description {
	font-family: 'Open Sans',serif;
}